/* Import external stylesheets */
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,500;1,300&display=swap");
@import url(./styles/blog.css);
@import url(./styles/card.css);
@import url(./styles/contact.css);
@import url(./styles/footer.css);
@import url(./styles/logo.css);
@import url(./styles/portfolio.css);

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif;
}

/* Body styles */
html,
body {
  scroll-behavior: smooth;
  scroll-snap-type: proximity;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Link styles */
a {
  color: #fec15b;
  cursor: pointer;
}

/* Image and media styles */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Form element styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* Text element styles */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Root and next element isolation */
#root,
#__next {
  isolation: isolate;
}

/* Utility Classes */
:root {
  --gray-clr: #919298;
  --off-white: #e9e9eb;
  --primary-clr: #333646;
  --secondary-clr: #252734;
  --sm-font: calc(5px + 1vw);
  --md-font: calc(18px + 1vw);
  --smd-font: calc(10px + 1vw);
  --lg-font: calc(3vw + 1em);
  --md-weight: 550;
  --sm-weight: 300;
}

h1 {
  font-size: var(--lg-font);
}

h2 {
  font-size: var(--md-font);
  font-weight: var(--md-weight);
  margin-block: 4vh;
}

h3 {
  font-size: var(--smd-font);
  font-weight: var(--sm-weight);
}

h4 {
  font-weight: var(--sm-weight);
  letter-spacing: 0.5px;
}

p {
  font-size: var(--sm-font);
  letter-spacing: 0.5px;
}

.grayColor {
  color: var(--gray-clr);
}

.offWhite {
  color: var(--off-white);
}

.rightLine {
  position: relative;
  width: fit-content;
}

.rightLine::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -50%;
  width: 40%;
  height: 1px;
  background-color: var(--gray-clr);
}

/* Scroll Styling */
/* Customize the scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

/* Customize the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #252734;
  border: none;
}

/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Main Styling */
#container {
  background-color: #252734;
  position: relative;
}

.navbar,
.content1,
.content2,
.blog,
.footerTop,
.footerBottom {
  padding-inline: calc(100% - 90vw);
  position: relative;
}

.navbar {
  min-height: 60vh;
  background-color: #333646;
  color: white;
  background-image: url(./images/man.png);
  background-repeat: no-repeat;
  background-position: 30%;
  /* padding-block: 4vh 6vh; */
}

.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2vh;
}

.menu {
  display: none;
}

.logo img {
  width: 30%;
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

.navLinks li {
  position: relative;
  font-size: 1.5rem;
  list-style: none;
}

.navLinks li::after {
  content: "";
  position: absolute;
  top: 100%;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  background: darkcyan;
  height: 5px;
  width: 5px;
  border-radius: 50%;
}

.navBottom {
  display: flex;
  padding-block: 5vh;
}

.navLeft {
  flex: 0 0 50%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
}

.socialLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  padding: 2vh 2vw;
}

.navRight {
  flex: 0 0 50%;
}

.introduction {
  margin-block: 4vh;
}

.introduction h2 {
  width: 80%;
}

.story {
  font-size: var(--sm-font);
}

.contentWrapper {
  position: relative;
}

.content1 {
  position: relative;
  background-color: #252734;
  padding-bottom: calc(20rem - 20vh);
}

.content1 > section:nth-child(2) {
  position: absolute;
  bottom: -15%;
  left: 50%;
  transform: translate(-50%);
}

.content2 {
  padding-top: calc(20rem - 15vh);
  background-color: #333646;
}

@media screen and (max-width: 1000px) {
  .navBottom {
    flex-direction: column;
    width: 50%;
  }
  .navbar {
    background-position: 90%;
  }

  .logo img {
    width: 20%;
  }
  .content1 {
    padding-bottom: 0;
  }
  .content2 {
    padding-top: 0;
  }
  .content1 > section:nth-child(2) {
    position: relative;
    margin-block: 4rem;
  }
  .contactLeft {
    padding: 0;
  }
  .contactLeft p {
    width: 60%;
    padding-bottom: 1rem;
  }
  .contactRight {
    display: none;
  }
  .logos {
    display: none;
  }
  .portfolio {
    grid-template-rows: repeat(2, 1fr);
    padding-top: 3rem;
  }

  .pfText {
    grid-column: span 2;
  }
  .blogBottom {
    display: none;
  }
  .blogTop {
    flex-direction: column;
  }
  .blogLeft {
    width: 100%;
  }
  .card {
    flex-direction: column;
    gap: 1rem;
  }
  .footerTop {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    background-size: contain;
    background-position: -100%;
    overflow: hidden;
  }
  .navTop {
    position: relative;
  }
  .menu {
    display: block;
    z-index: 3;
  }
  .navLinks {
    position: absolute;
    min-height: 60vh;
    width: 30vw;
    top: 0%;
    right: -100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: var(--primary-clr);
    transition: all 500ms cubic-bezier(0.95, 0.05, 0.795, 0.035);
    padding-inline: 20px;
    box-shadow: 0px 0px 10px var(--secondary-clr);
  }

  .navLinks.activeLinks {
    right: -15%;
  }

  .navLinks li::after {
    display: none;
  }
  .navBottom {
    flex: 0 0 100%;
    width: 100%;
  }
  .navLeft {
    align-items: flex-end;
    justify-content: space-between;
    text-align: center;
    gap: 2.5rem;
  }
  .socialLinks {
    gap: 2rem;
  }
  .navRight {
    display: none;
  }
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .card {
    width: 100%;
    padding-block: 1rem;
  }
}
